<h1>Stupid Coaching</h1>
<blockquote>
  <p><%= params[:message] %></p>
  <footer><em>-You</em></footer>  
</blockquote>
<blockquote>
  <p><strong><%= @coach_answer %></strong></p>
  <footer><em>-Your coach</em></footer>    
</blockquote>